name: Deploy to Server

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd ~/repo/tmdt-backend
            
            # 1. Lấy code mới
            git pull origin main
            
            # 2. Xóa container App cũ đi để tránh lỗi 'KeyError: ContainerConfig'
            # (Lệnh này an toàn, không mất dữ liệu DB)
            docker rm -f bat_trang_backend || true
            
            # 3. Dùng lệnh "docker compose" (không có gạch ngang)
            # Chỉ build lại service app, db giữ nguyên
            docker compose up -d --build app
            
            # 4. Dọn rác
            docker image prune -f