name: Deploy to Server

on:
  push:
    branches: [ "main" ] # Chạy khi push vào nhánh main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            # 1. Đi đến thư mục dự án (Sửa lại đường dẫn cho đúng với server của bạn)
            cd ~/repo/tmdt-backend

            # 2. Lấy code mới nhất
            git pull origin main

            # 3. Build và khởi động lại container (chỉ app thay đổi thì nó chỉ restart app)
            docker-compose up -d --build app

            # 4. (Tùy chọn) Dọn dẹp image rác cho đỡ đầy ổ cứng
            docker image prune -f